---
layout: default
---

<div class="posts">
  {% for post in site.posts %}
    <div class="post">
      <header class="post-header">
        <h1><a href="{{ post.url}}">{{ post.title }}</a></h1>
        <p class="meta">
          {{ post.date | date: "%b %-d, %Y" }}{% if post.author %} • {{ post.author }}{% endif %}{% if post.meta %} • {{ post.meta }}{% endif %}
        </p>
      </header>

      <article class="post-content">
        {{ post.content }}
      </article>
    </div>
  {% endfor %}
</div>
