---
layout: default
---

<div>
  <div class="photo">
    <img src="/assets/igor.jpg" alt="photo" />
  </div>


  <div class="bio">
    <p>
      Hi, I'm Igor.
    </p>

    <p>
      I'm a software developer with big passion for anything maps- and geo- related. I enjoy working with any types of languages and technologies, currently focusing on Ruby, Javascript and iOS.
    </p>

    <p>
      I live in Sweden, run my own consulting firm, occasionally run marathons and swimruns and I'm a new dad.
    </p>

    <p>
      You can find me on <a href="http://twitter.com/igorti" target="_blank">Twitter</a> and <a href="https://se.linkedin.com/pub/igor-tihonov/27/ab1/874" target="_blank">LinkedIn</a>
      or shoot an email at <a href="mailto:contact@igortihonov.com">contact@igortihonov.com</a>.
    </p>
  </div>
</div>

<div class="clear"></div>

<h3 class="heading"><span>Recent posts</span></h3>

<ul class="posts">
  {% for post in site.posts %}
    {% unless post.tags contains "running" %}
      <li>
        <span class="date">
          {{ post.date | date: "%b %-d, %Y" }}{% if post.author %} • {{ post.author }}{% endif %}{% if post.meta %} • {{ post.meta }}{% endif %}
        </span>

        <a class="title" href="{{ post.url}}">{{ post.title }}</a>
      </li>
    {% endunless %}
  {% endfor %}
</ul>
